<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Order Page: Flag are us </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/order.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/order.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#myPage">Flagrus</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">WELCOME <%= user %></a></li>
            <li><a href="/">HOME</a></li>
            <li><a href="/#product">PRODUCT</a></li>
            <li><a href="/#contact">CONTACT</a></li>
            <li><a href="/cart">CART</a></li>
            <li><a href="/order">ORDERS</a></li>
            <li><a href="/mypage">MYPAGE</a></li>
            <li><a href="/logout">LOGOUT</a></li>
          </ul>
        </div> <!-- end of menues -->
      </div>
    </nav>

    <div id="orderMain" class="bg-1">
      <div class="container">
        <h3 class="text-center"> Orders </h3>
        <p class="text-center"> Check your orders :/ </p>

        <% var total = 0; %>
        <% orders.forEach( function(order, index) { %>
        <% if (index == 0 || orders[index].order_id != orders[index-1].order_id) { %>
        <% total = 0; %>
        <% if (order.status == 'pending') { %>
        <div class="panel panel-primary order-item">
        <% } else if (order.status == 'completed') { %>
        <div class="panel panel-success order-item">
        <% } else { %>
        <div class="panel panel-danger order-item">
        <% } %>

          <div class="panel-heading order-item-head">
            Order number #<%= order.order_id %>
            <div class="account-number"> Account: <%= order.bank_account %> </div>
          </div>
          <div class="panel-body">

            <div class="order-status">
              <%= order.status %>
            </div>

            <div class="list-group order-item-list">
              <% } %>

              <div class="list-group-item">
                <%= order.name %>
                <div class="id-store"><%= order.product_id %></div>
                <% if (order.status == 'completed') { %>
                <button type="button" class="btn btn-secondary"> view </button>
                <% } %>
                <span class="badge"> <%= order.num %> </span>
              </div>
              <% total += order.price * order.num; %>

        <% if (index == orders.length-1 || orders[index].order_id != orders[index+1].order_id) { %>
              <strong> Order time : <%= order.time %> </strong>
              </br>
              <strong> Total : <%= total %> won </strong>
              </br>
              <strong> <%= order.status %> </strong>
            </div>

          </div>
        </div>
        <% } %>
        <% }); %>
      </div> <!-- end of container -->
    </div> <!-- end of order Main -->

  </body>
</html>
